*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
/* :root{
--violet: #
} */
@font-face {
    font-family: 'Benzin';
    src: local('Benzin Extra Bold'), local('Benzin-Extra-Bold'),
        url(./fonts/Benzin-ExtraBold.woff2) format('woff2'),
        url(./fonts/Benzin-ExtraBold.woff) format('woff'),
        url(./fonts/Benzin-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
  }

.container{
    margin: auto;
    max-width: 430px;
    height: 5550px;
    /* background-image: url(./img/mainBackGround.svg); */
    background-color: #000;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

}
.mainLogo{
    background-image: url(./img/photobg.png);
    height: 373px;
    background-size: cover;
    background-repeat: no-repeat;

}
.logo{
    font-family: 'Benzin';
    font-weight: 800;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
    margin: auto;
}
.h1-margin{
    margin-top: -9px;
}
.logo2{
    font-family: 'Benzin';
    font-weight: 800;
    color: #fff;
    font-size: 23px;
    line-height: 55px;

    text-align: center;
    padding-top: 50px;
    padding-bottom: 25px;
}
.logo3{
    margin-top: -15px;
}
.aboutMe{
    margin-top: 70px;
}
.about-first-img{
    text-align: center;
}
.aboutMe .name{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;

    text-align: left;
    margin-left: 25px;
    margin-top: 65px;
}
.aboutMe .text{
    margin-top: 15px;
    margin-left: 24px;
    width: 128px;
    height: 165px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}
.howChanged{
    max-width: 212px;
    height: 277px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11.5px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    margin-right: 32px;
}
.howChangedFlex{
display: flex;
justify-content: space-between;
margin-top: 30px;

}

.howChanged p{
    margin-left: 20px;
    margin-bottom: 13px;
}
.counter-container{
    color: #fff;
    max-width: 272px;
    height: 82px;
    color: rgb(255, 255, 255);
    font-family: 'Benzin';
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    margin: auto;
    margin-top: 40px;
}
.counter p{
    margin-top: 15px;
}
.counter, .counter2{
    display: flex;
    justify-content: space-around;
}
.counter-text{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -1%;
    text-align: left;
}
.counter-block1{
    width: 71px;
    height: 26px;
    text-align: center;
}
.counter-block2{
    width: 65px;
    height: 26px;
    text-align: center;
}

.exp-svg{
    margin-top: 120px;
    position: absolute;
}

.exp{
    display: flex;
    justify-content: center;
    margin-top: 1388px;
    margin-bottom: 850px;;
}
.exp p{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -1%;
    text-align: center;
    width: 260px;
    height: 39px;
    margin-top: 140px;

}
.insta-links img{
margin-right: 20px;
}
.insta-links p{
    margin-left: 20px;
}
.insta-links{
    color: rgb(169, 38, 132);
font-family: 'Benzin';
font-size: 16px;
font-weight: 800;
line-height: 15px;
letter-spacing: -1%;
text-align: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}
.accordeon{
    margin-top: 20px;
    color: #fff;
    width: 272px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin: auto;
    background-image: linear-gradient(#009542, #000, #000);
    margin-top: 30px;

}
.accordeon a{
    display: block;
    text-align: center;
}
.accordeon-heading{
    color: rgb(255, 255, 255);
    font-family: 'Benzin';
    font-size: 11px;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}
#div1, #div2, #div3, #div4{
    margin: auto;
    width: 200px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
#div1 p{
    margin-bottom: 5px;

}
.reviews img{
    display: block;
    margin: auto;
}
.reviews{
    margin-top: 15px;

}

.slider {
    position: relative;
    max-width: 310px;
    height: 300px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
    color: #fff;
  }
  
  
  .slider-list {
    width: 310px;
    height: 200px;
    overflow: hidden;
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 310px;
    height: 200px;
    flex-shrink: 0;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 12px;
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next, .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  
  .next.disabled, .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
  .slide-flex{
    display: flex;
    height: 34px;
    align-items: center;
    margin-top: 15px;
    margin-left: 12px;
  }
  .slide-name{
    margin-left: 12px;
  }
  .slide-text{
    width: 275px;
    height: 105px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin: auto;
    margin-top: 13px;
  }

  .form-below{
    max-width: 305px;
    margin: auto;
    font-family: 'Benzin';
    font-size: 13px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    color: #fff;
  }
  .cosa-div{
    margin-top: 90px;
    display: flex;
    justify-content: center;

  }
  .headline4{
    margin-top: 80px;
    margin-left: -20px;
  }
  .cosa-flex{
display: flex;
justify-content: space-around;

}
.cosa-flex p{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;

}
.headline5{
    text-align: center;
}
.container-hd5{
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/onback.png);
}
.p-border{
    width: 280px;
    height: 70px;
    border: 1px solid #009542;
    border-radius: 12px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    padding-top: 15px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    }
.stars-flex{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
        font-family: Arial;
        font-size: 12px;
        font-weight: 400;
        line-height: 13px;
        height: 50px;
        width: 290px;
        margin: auto;
}
.stars-flex p{
    margin-left: 15px;
}
.headlinebg6{
    background-image: url(./img/headlinebg6.svg);
    height: 230px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.headlinebg6 h1{
    text-align: center;
    padding-top: 85px;
    color: rgb(169, 38, 132);
    font-family: 'Benzin';
    font-size: 49px;
    font-weight: 400;
    line-height: 67px;
    text-transform: uppercase;
}
.h4p{
width: 130px;
margin-left: -20px;
}
.h4p h4{
    margin-top: -20px;
}
.h4p2{
    width: 130px;
margin-left: 20px;
}
.h4p2{
    margin-top: -20px;
}


.cosa-flex h4{
color: rgb(255, 255, 255);
font-family: 'Benzin';
font-size: 11px;
font-weight: 400;
line-height: 17px;
text-align: left;
margin-bottom: 5px;
}
  span{
    color: #A92684;
  }
  .form-bellow-p{
    margin-top: 130px;
    margin-bottom: 20px;
  }
  .book-gift-1, .book-gift-2{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -1%;
    text-align: left;
  }


  .form-email{
    background: #2F303A;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    padding-left: 16px;
    transition: 0.4s;
    &:focus{
        border: 1px solid #A92684;
        color: #FFF;
    }
}
.svg-cc{
    border: 1px solid #009542;
    border-radius: 12px;
    height: 100px;
    margin-top: 110px;
}

.form-button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #A92684;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.form-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.label-margin{
    margin-top: 25px;
}
.form-text{
    padding-top: 10px;
}
.il-tuo-img{
margin-top: 20px;
display: flex;
justify-content: center;
}

.ti-svg{
display: flex;
justify-content: center;
margin-left: -150px;
margin-top: 5px;

}
.img1{
    margin-bottom: 130px;
    margin-right: -5px;
    z-index: 5;

}
.img2{
 z-index: 1;
}
.sudi-flex{
display: flex;
justify-content: space-around;
}
.headline3{
    margin-top: 170px;
    text-align: center;
}
.img3{
    position: absolute;
    right: 35px;
    top: 891px;
    width: 144px;
    z-index: 30;
}
.img4{
    position: absolute;
    right: 90px;
    top: 1026px;
    width: 144px;
}
svg{
    display: block;
}
.svg-absolute{
    position: absolute;
    top: 1960px;
}
.one-shot{
    display: block;
    margin: auto;
}
.il-tuo-mentore{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    
}
.first-p{
    font-family: 'Benzin';
    font-size: 25px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 14%;
    text-align: left;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #A92684;
}
.second-p{
    font-family: 'Benzin';
    font-size: 25px;
    font-weight: 800;
    line-height: 28px;
    letter-spacing: 14%;
    text-align: left;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #009542;
    margin-top: 20px;
    margin-left: -5px;
}