*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}
@font-face {
    font-family: 'Benzin';
    src: local('Benzin Extra Bold'), local('Benzin-Extra-Bold'),
        url(./fonts/Benzin-ExtraBold.woff2) format('woff2'),
        url(./fonts/Benzin-ExtraBold.woff) format('woff'),
        url(./fonts/Benzin-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
  }

.container{
    margin: auto;
    max-width: 420px;
    height: 6050px;
    background-image: url(./img/mainBackGround.svg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.logo{
    font-family: 'Benzin';
    font-weight: 800;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
    width: 269px;
    margin: auto;
    padding-top: 42px;
}
.logo2{
    font-family: 'Benzin';
    font-weight: 800;
    color: #fff;
    font-size: 40px;
    line-height: 55px;
    width: 269px;
    margin: auto;
    margin-top: -15px;
}
.aboutMe .name{
    margin-top: 690px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 24px;
}
.aboutMe .text{
    margin-top: 15px;
    margin-left: 24px;
    width: 128px;
    height: 165px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: -1%;
    text-align: left;
}
.howChanged{
    margin-top: 489px;
    width: 112px;
    height: 277px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    margin-right: 32px;
    margin-bottom: 100px;
}
.howChangedFlex{
    display: flex;
    justify-content: end;
}
.howChanged p{
    margin-bottom: 13px;
}
.counter-container{
    color: #fff;
    max-width: 272px;
    height: 82px;
    color: rgb(255, 255, 255);
    font-family: 'Benzin';
    font-size: 20px;
    font-weight: 800;
    line-height: 28px;
    margin: auto;
    margin-top: 40px;
}
.counter p{
    margin-top: 15px;
}
.counter, .counter2{
    display: flex;
    justify-content: space-around;
}
.counter-text{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -1%;
    text-align: left;
}
.counter-block1{
    width: 71px;
    height: 26px;
    text-align: center;
}
.counter-block2{
    width: 65px;
    height: 26px;
    text-align: center;
}

.exp-svg{
    margin-top: 120px;
    position: absolute;
}

.exp{
    display: flex;
    justify-content: center;
    margin-top: 1388px;
    margin-bottom: 850px;;
}
.exp p{
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: -1%;
    text-align: center;
    width: 260px;
    height: 39px;
    margin-top: 140px;

}
.accordeon{
    margin-top: 20px;
    color: #fff;
    width: 272px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin: auto;
    background-image: linear-gradient(#009542, #000, #000);
    margin-top: 30px;

}
.accordeon a{
    display: block;
    text-align: center;
}
.accordeon-heading{
    color: rgb(255, 255, 255);
    font-family: 'Benzin';
    font-size: 11px;
    font-weight: 800;
    line-height: 15px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}
#div1, #div2, #div3, #div4{
    margin: auto;
    width: 200px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
}
#div1 p{
    margin-bottom: 5px;

}
.reviews img{
    display: block;
    margin: auto;
}
.reviews{
    margin-top: 15px;

}

.slider {
    position: relative;
    max-width: 310px;
    height: 300px;
    margin: 50px auto 0;
    user-select: none;
    touch-action: pan-y;
    color: #fff;
  }
  
  
  .slider-list {
    width: 310px;
    height: 200px;
    overflow: hidden;
  }
  
  .slider-list.grab {
    cursor: grab;
  }
  
  .slider-list.grabbing{
    cursor: grabbing;
  }
  
  .slider-track {
    display: flex;
  }
  
  .slide {
    width: 310px;
    height: 200px;
    flex-shrink: 0;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 12px;
  }
  
  .slider-arrows {
    margin-top: 15px;
    text-align: center;
  }
  
  .next, .prev {
    background: none;
    border: none;
    margin: 0 10px;
    font-size: 30px;
    cursor: pointer;
    color: #fff;
  }
  
  .next.disabled, .prev.disabled {
    opacity: .25;
    pointer-events: none;
  }
  .slide-flex{
    display: flex;
    height: 34px;
    align-items: center;
    margin-top: 15px;
    margin-left: 12px;
  }
  .slide-name{
    margin-left: 12px;
  }
  .slide-text{
    width: 275px;
    height: 105px;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: left;
    margin: auto;
    margin-top: 13px;
  }

  .form-below{
    width: 255px;
    margin: auto;
    font-family: 'Benzin';
    font-size: 13px;
    font-weight: 800;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: left;
    color: #fff;
  }
  span{
    color: #A92684;
  }
  .form-bellow-p{
    margin-bottom: 20px;
  }
  .book-gift-1, .book-gift-2{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: -1%;
    text-align: left;
  }


  .form-email{
    background: #2F303A;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.48px;
    padding-left: 16px;
    transition: 0.4s;
    &:focus{
        border: 1px solid #A92684;
        color: #FFF;
    }
}

.form-button{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background: #A92684;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    cursor: pointer;
    background-repeat: no-repeat;
    margin-top: 20px;
}
.form-action{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.label-margin{
    margin-top: 25px;
}
.form-text{
    padding-top: 10px;
}
.img1{
    position: absolute;
    right:210px;
    width: 142px;
    top: 285px;
    z-index: 10;
}
.img2{
    position: absolute;
    right: 75px;
    top: 351px;
    width: 144px;
    z-index: 1;
}
.img3{
    position: absolute;
    right: 35px;
    top: 971px;
    width: 144px;
    z-index: 30;
}
.img4{
    position: absolute;
    right: 90px;
    top: 1116px;
    width: 144px;
}
svg{
    display: block;
}
.svg-absolute{
    position: absolute;
    top: 1960px;
}
.one-shot{
 margin-left: 30px;
}
.img5{
    position: absolute;
    top: 1530px;
    left: 40px;
}
@media screen and (max-width: 400px) {
    .howChanged{
        margin-top: 420px;
    }
    .aboutMe .name{
        margin-top: 620px;
    }
    .exp{

        margin-top: 1350px;
    }

  }
  
  @media screen and (max-width: 375px){
    .container{
        margin: auto;
        max-width: 420px;
        height: 5550px;
        background-image: url(./img/mainBackGround.svg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .img5{
        position: absolute;
        top: 1360px;
        left: 40px;
    }
    .howChanged{
        margin-top: 390px;
    }
    .aboutMe .name{
        margin-top: 620px;
    }
    .exp{

        margin-top: 1210px;
    }
    .img1{
        position: absolute;
        right:185px;
        width: 142px;
        top: 265px;
        z-index: 10;
    }
    .img2{
        position: absolute;
        right: 50px;
        top: 331px;
        width: 144px;
        z-index: 1;
    }
    .img3{
    position: absolute;
    right: 25px;
    top: 807px;
    z-index: 30;
}
.svg-absolute{
    position: absolute;
    top: 1750px;
}
.img4{
    position: absolute;
    right: 70px;
    top: 937px;
}

.accordeon{
    color: #fff;
    width: 272px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin: auto;
    background-image: linear-gradient(#009542, #000, #000);
    margin-top: 30px;

}
.exp-svg{
    margin-top: 35px;
    position: absolute;
}
.exp p{
    color: rgb(255, 255, 255);
  font-family: Arial;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: -1%;
  text-align: center;
  width: 260px;
  height: 39px;
  margin-top: 55px;
}
  }
  @media screen and (min-width: 425px){
    .exp-svg{
        margin-top: 50px;
    }
    .exp p{margin-top: 75px;}
  }
  @media screen and (min-width: 350px){
.svg-absolute{
    position: absolute;
    top: 1685px;
}
  }
  @media screen and (max-width: 365px){
    .howChanged{
        margin-top: 370px;
    }
    .aboutMe .name{
        margin-top: 580px;
    }
  }
  @media screen and (max-width: 385px){
    .counter-container{
        margin-top: 0px;
    }
  }
  @media screen and (max-width: 320px){
    .img1{
        position: absolute;
        right:155px;
        width: 142px;
        top: 215px;
        z-index: 10;
    }
    .img2{
        position: absolute;
        right: 10px;
        top: 71px;
        z-index: 1;
    }
    .img3{
        position: absolute;
        right: 23px;
        top: 671px;
        width: 144px;
        z-index: 1;
    }
    .img4{
        display: none;
    }
}